<template>
<div id="album">
  <!-- START .album-header -->
  <section class="album-header">
    <div class="img-container">
      <img class="albumBackground" :src="album.album_background" 
           :alt="album.album_name">
      <!-- <div class="albumBackground"> </div> -->
      <img class="albumForeground" :src="album.album_cover" 
           :alt="album.album_name">
    </div>
  </section> <!-- END album-header -->
  <!-- START .album-info -->
  <section class="album-info">
    <h2 class="album-name" v-text="album.album_name"></h2>
    <h2 class="album-artist" v-text="this.$route.params.artistName"
        @click="goToArtistPage">
    </h2>
    <span class="album_artist_underline" :style="albumNameUnderline"></span>
    <h2 class="album-year" v-text="album.album_year">2013</h2>
    </h2>
    <div class="paragraph-wrapper">
      <p class="album-description" v-text="album.album_description"></p>
    </div>
  </section> <!-- END .album-info -->
  <div class="section-separator"></div>
  <!--  START .listen-to -->
  <section class="listen-to">
    <h2>Listen To:</h2>
    <loader v-show="!isLoaded"></loader>
    <div v-show="isLoaded" class="spotify-container" 
        :class="{ blurred: !isLoaded }">
      <iframe :src="spotifyAlbumId" 
                    width="90%" height="400" frameborder="0" 
                    allowtransparency="true">
      </iframe>
      <div class="video-container" v-show="youtube.albumExists">
        <iframe :src="youtube.albumVideoId" width="590" height="320" 
                frameborder="0">
        </iframe>
      </div>
    </div>
    <div class="section-separator"></div>
  </section> <!-- END listen-to -->
  <!-- START .reviews -->
  <section class="reviews">
    <h2>Reviews:</h2>
    <div class="metascore" v-show="metascore.scoreExists">
      <h3 class="meta-header">Metascore</h3>
      <a :href="metascore.url">
        <div class="metascore-score">
        {{ metascore.score }}
        </div>
      </a>
    </div> <!-- END .metascore-->
    <div class="theneedledrop" v-show="youtube.reviewExist">
      <img class="theneedledrop-logo" src="../../static/theneedledrop.png" 
            alt="needledrop logo">
      <div class="video-container">
        <iframe :src="youtube.reviewVideoId" width="590" height="320" 
                frameborder="0">
        </iframe>
      </div>
    </div> <!-- END .theneedledrop -->
    <div class="pitchfork" v-show="pitchfork.reviewExist">
      <img class="pitchfork-logo" src="../../static/pitchfork.png" alt="">
      <div :class="pitchforkScoreBorder">
        <span :class="pitchforkScore">{{ pitchfork.score }}</span>
      </div>
      <div class="pitchfork-review-wrapper">
        <p class="pitchfork-review">{{ pitchfork.review }}</p>
          <div class="fade-anchor">
            <a class="fade-anchor-text" 
               :href="pitchfork.url">
               Read full review on Pitchfork
            </a>
          </div>
      </div>
    </div>  <!-- END .pitchfork -->
    <div class="empty"></div>
  </section> <!-- END .reviews -->
</div>
</template>

<script>
export default {
  name: 'album',

  computed: {
    albumNameUnderline() {
      return {
        borderTop: `thin solid ${this.album.album_dominant_color}`
      }
    },
    pitchforkScoreBorder() {
      return {
        'pitchfork-score-bnm': this.pitchfork.score >= 8,
        'pitchfork-score': this.pitchfork.score < 8 
      }
    },
    pitchforkScore() {
      return {
        'score-bnm': this.pitchfork.score >= 8,
        'score': this.pitchfork.score < 8 
      }
    }
  },

  created() {
    this.isLoaded = false
    this.loadPageContent()    
  },

  data() {
    return {
      album: [],
      spotifyAlbumId: '',
      youtube: {
        albumExists: false,
        albumVideoId: '',
        reviewExist: false,
        reviewVideoId: ''
      },
      metascore: {
        score: '',
        scoreExists: false,
        url: ''
      },
      pitchfork: {
        review: '',
        reviewExist: false,
        score: '',
        url: '',
      },
    isLoaded: false,
    // fmRegex: '<a[^>]*>([^<]+)<\/a>'
    }
  },
// 
  methods: {
    goToArtistPage() {
      this.$router.push('/artist/' + this.$route.params.artistName)
    },
    // Consider changing the way async ajax are calld in here
    loadPageContent() {
      this.axios.get('http://34.217.165.105/snareapi/public/api/albums/' +
                  this.$route.params.albumID)
        .then(response => {
          this.album = response.data
          this.loadAlbumFromSpotify()
          this.getAlbumFromYoutube()
          this.getMeta()
          this.getPitchfork()
          this.needleDropReview()
        })
        .catch(error => {
          this.$router.push('/artist/' + 
                            this.$route.params.artistName)
        })
    },

  loadAlbumFromSpotify() {
      this.axios.get('http://34.217.165.105/snareapi/public/api/album/' +
                        this.$route.params.artistName + '/' +
                        this.album.album_name.replace(/\//g, ' '))
          .then(response => {
            this.spotifyAlbumId = 'https://open.spotify.com/embed?' +
                                  'uri=spotify:album:' + 
                                  response.data.albums.items[0].id  + 
                                  '&theme=white'
            this.isLoaded = true
          })
          .catch(error => {
            console.log(error)
          })
    },

    needleDropReview() {
      this.axios.get('http://34.217.165.105/snareapi/public/api/review/' +
                    this.$route.params.artistName + '/' +
                    this.album.album_name)
          .then(response => {
            this.youtube.reviewVideoId = '//www.youtube.com/embed/' +
                                          response.data
            this.youtube.reviewExist = true
          })
          .catch(error => {
            console.log(error)
          })
    },

    getAlbumFromYoutube() {
      this.axios.get('http://34.217.165.105/snareapi/public/api/video/' +
                    this.$route.params.artistName + '/' +
                    this.album.album_name)
          .then(response => {
            this.youtube.albumVideoId = '//www.youtube.com/embed/' +
                                          response.data[0].id.videoId
            this.youtube.albumExists = true
          })
          .catch(error => {
            console.log(error)
          })
    },

    getMeta() {
      this.axios.get('http://34.217.165.105/snareapi/public/api/metascore/' +
                    this.album.album_name.replace(/ /g, '-')
                    .toLowerCase() + '/' + 
                    this.$route.params.artistName.replace(/ /g, '-')
                    .toLowerCase())
          .then(response => {
            this.metascore.url = response.data.url
            this.metascore.score = response.data.score[0]
            this.metascore.scoreExists = true
          })
          .catch(error => {
            console.log(error)
          })
    },

    getPitchfork() {
      this.axios.get(`http://34.217.165.105:3000/pitchfork/
                      ${this.album.album_name.toLowerCase()}/
                      ${this.$route.params.artistName.toLowerCase()}`)
          .then(response => {
            console.log(response)
            this.pitchfork.review = response.data[0].editorial.text
            this.pitchfork.score = response.data[0].score
            this.pitchfork.url = 'https://pitchfork.com/' + response.data[0].url
            this.pitchfork.reviewExist = true
          })
          .catch(error => {
            console.log(error)
          })
    },
    getAlbumColors() {
      this.axios.get('http://34.217.165.105:3000/color/hex/' +
                     this.$route.params.artistName.toLowerCase() + '/' +
                     this.album.album_name.toLowerCase())
        .then(response => {
          alert(response.data)
        })
        .cathc(error => {
          console.log(error)
        })
    }
  },

  mounted() {
    window.scrollTo(0,0)
  }

}
</script>

<style scoped>
/*- - - - - - - - - - -*/
/*- - album-header section - -*/
.img-container {
  position: relative;
  top: 0;
}

.albumBackground {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 250px;
  max-height: 250px;
  width: 100%;
  z-index: -1;
  background-color: black;
}

.albumForeground {
  margin: 0px auto;
  height: auto;
  max-height: 250px;
  max-width: 250px;
  z-index: 1;
  /*box-shadow: 0px 3px 10px -1px #E99B8F;*/
}

/*- - - - - - - - - - -*/
/*- - album-info section - -*/

.album-name {
  font-size: 18pt;
  font-weight: 700;
}

.album-artist {
  font-size: 16pt;
  margin: 0px;
  padding: 0px;
}

.album_artist_underline {
  width: 120px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  opacity: 0.3;
  border-top: 10000px solid transparent;
}

.album-artist:hover {
  opacity: 0.7;
  cursor: pointer;
}

.album-year {
  margin-bottom: 5px;
}

.paragraph-wrapper {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
}

.album-description {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  white-space: pre-wrap;
  font-size: 14pt;
  margin-bottom: 40px;
}

.section-separator {
  height: 1px;
  width: 80%;
  border-top: 1px solid #a1a1a1;
  opacity: 0.6;
  margin: 0 auto;
}

/*- - - - - - - - - - -*/
/*- - listen to section - -*/

.listen-to {
  margin-top: 40px;
  font-size: 22pt;
}

.listen-to .video-container {
  background-color: red;
  margin-bottom: 50px;
}

.reviews {
  margin-top: 40px;
  font-size: 22pt;
}

.spotify-container {
  position: relative;
  /*overflow: hidden;*/
  margin: 40px auto;
  /*
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  */
}

.theneedledrop {
  margin: 30px auto;
}

.video-container {
  margin: 20px auto;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  width: 90%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.theneedledrop-logo {
  width: 30%;
  display: block;
  margin: 0 auto;
}


/*- - - - - - - - - - -*/
/*- - metascore - -*/

.metascore-score {
  background-color: #66cc33;
  height: 100px;
  width: 100px;
  color: white;
  margin: 0 auto;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.metascore-score:hover {
  opacity: 0.9;
}

.meta-header {
  margin-top: 20px;
  font-size: 15pt;
}
/*- - - - - - - - - - -*/
/*- - pitchfork - -*/
/* Fix order */
.pitchfork {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 0 auto;
}

.pitchfork-score {
  border: 3px solid black;
  border-radius: 50%;
  display: block;
  font: bold 30pt/1 Helvetica;
  max-width: 90px;
  height: 90px;
  margin-bottom: 1em;
  margin: 10px auto;
  line-height: 90px;
  text-align: center;
  position: relative;
}

.score {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 25pt;
  font-weight: 700;
  font-family: Walfork, Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

.pitchfork-score-bnm {
  border: 3px solid red;
  border-radius: 50%;
  display: block;
  font: bold 30pt/1 Helvetica;
  max-width: 90px;
  height: 90px;
  margin-bottom: 1em;
  margin: 10px auto;
  line-height: 90px;
  text-align: center;
  position: relative;
}

.score-bnm {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 25pt;
  font-weight: 700;
  font-family: Walfork, Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  color: red
}

.pitchfork-review-wrapper {
  width: 90%;
  margin: 0 auto;
  max-height: 250px;
  overflow: hidden;
  position: relative;
}

.pitchfork-review {
  font-family: Tiempos, Georgia, serif;
  font-size: 14pt;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  white-space: pre-wrap;
  max-height: 230px;
}

.pitchfork-logo {
  width: 30%;
}

.fade-anchor {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 170px, #fff 200px);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 170px, #fff 200px);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 230px;
  padding-top: 180px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  -webkit-transition: background 150ms ease-in;
  transition: background 150ms ease-in;
}

.fade-anchor-text {
  background: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 9pt 9pt 0 0;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: black;
  opacity: 0.5;
  text-decoration: underline;
  font-size: 18pt;
  -webkit-text-decoration-color: red;
  text-decoration-color: red;
}

.empty {
  height: 50px;
  width: 100%;
}

</style>
