<template>
<!-- START #artist -->
<div id="artist"> 
  <!-- START .artist-header -->
  <section class="artist-header"> 
    <div class="img-container">
      <!-- <img  class="artistBackground" :src="artist.artist_overlay_picture"> -->
      <img  class="artistBackground" :src="artist.artist_profile_picture">
      <img  class="artistForeground" :src="artist.artist_profile_picture" >
    </div> 
  </section> <!-- END .artist-header -->
  <!-- START .artist-info -->
  <section class="artist-info"> 
      <h2 class="artist-name" v-text="artist.artist_name"></h2>
      <h2 class="artist-genre" v-text="artist.artist_genre"></h2>
      <h2 class="artist-origin" v-text="artist.artist_origin"></h2>
      <div class="paragraph-wrapper">
        <p class="artist-description" v-text="artist.artist_description"></p>
      </div>
  </section> <!-- END artist-info -->
  <div class="section-separator"></div>
  <!-- START .popular-tracks -->
  <section class="popular-tracks"> 
    <h2>Most Popular Tracks</h2>
    <div class="spotify-container">
      <loader v-show="!isLoaded"></loader>
      <div class="follow">
        <iframe :src="spotify.artistId" width="300" height="56" scrolling="no" 
                frameborder="0" style="border:none; overflow:hidden;" 
                allowtransparency="true">
        </iframe> 
      </div>
      <iframe :src="spotify.trackId" width="590" height="80" frameborder="0" 
              allowtransparency="true">
      </iframe>
    </div>
    <div class="video-container">
      <iframe :src="videoId" width="590" height="320" frameborder="0"></iframe>
    </div>

    <h3>Listen More</h3>
    <img src="../assets/listenMore.png" alt="youtube" id="logos">
  </section> <!-- END popular-tracks -->
  <div class="section-separator"></div>
  <!-- START .discography -->
  <section class="discography"> 
    <h2>Discography</h2>
    <template v-for="album in albums">
    <div class="album">
      <img :src="album.album_cover" :alt="album.album_name" 
          @click="gotoAlbum(artist.artist_name, album.id)">
      <h2 class="album-title" v-text="album.album_name" 
          @click="gotoAlbum(artist.artist_name, album.id)"></h2>
      <p class="album-year" v-text="album.album_year"></p>
    </div>
    </template>
  </section> <!-- END .discography -->
</div>  <!-- END #artist -->
</template>

<script>
export default {
  name: 'artist',

  created() {
    this.isLoaded = false
    this.loadPageContent()
    this.loadSpotifyContent()
    this.loadYoutubeContent()
  },

  data() {
    return {
      artist: [],
      albums: [],
      videoId: '',
      spotify: {
        trackId: '',
        artistId: '',
      },
      isLoaded: false,
    }
  },

  methods: {
    gotoAlbum(artistName, id) {
      this.$router.push('/album/' + artistName + '/' + id)
    },

    loadPageContent() {
      // final_project/snareapi/public/artists
      this.axios.get('http://34.217.165.105/snareapi/public/api/artists/' + 
                    this.$route.params.artistName)
          .then(response => {
            this.artist = response.data[0]
            this.albums = response.data[0].albums
          })
         .catch(error => {
            this.$router.push('/')
          })
    },

    loadSpotifyContent() {
      this.axios.get('http://34.217.165.105/snareapi/public/api/tracks/' +
                    this.$route.params.artistName)
          .then(response => {
            this.spotify.trackId = 'https://open.spotify.com/embed?' + 
                                    'uri=spotify:track:' + 
                                    response.data.tracks[0].id +
                                    '&theme=white'
            this.spotify.artistId = 'https://open.spotify.com/follow/1/?' +
                                    'uri=spotify:artist:' + 
                                    response.data.tracks[0].artists[0].id +
                                    '&size=detail&theme=light'
            this.isLoaded = true
          })
          .catch(error => {
            console.log(error)
          })
    },

    loadYoutubeContent() {
      this.axios.get('http://34.217.165.105/snareapi/public/api/video/' +
                    this.$route.params.artistName)
          .then(response => {
            this.videoId = '//www.youtube.com/embed/' + 
                            response.data[0].id.videoId
          })
          .catch(error => {
            console.log(error)
          })    
    },
  },
  
  // mounted() { 
   

    
  // },

  watch: {
    '$route'() {
      this.isLoaded = false
      this.loadPageContent()
      this.loadSpotifyContent()
      this.loadYoutubeContent()
    }
  }
  
}
</script>

<style scoped>
/*- - - - - - - - - - -*/
/*- - header section - -*/
.img-container {
  position: relative;
  top: 0;
}

.artistBackground {
  position: absolute;
  left: 0px;
  top: 0px;
  height: auto;
  max-height: 200px;
  width: 100%;
  z-index:-1;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.artistForeground {
  margin: 40px auto 0 auto;
  height: 200px;
  width: 200px;
  max-width: 220px;
  z-index: 1;
   border-radius: 100px;
  -webkit-border-top-left-radius: 100px;
  -moz-border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
  box-shadow: 0 1px 1em black;
}

.artist-name {
  font-size: 18pt;
  font-weight: 700;
  margin-top: 15px;
}

.artist-genre {
  font-weight: 500;
}

.paragraph-wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 620px;
  padding-top: 20px;
}

.artist-description {
  text-align: justify;  
  -moz-text-align-last: center; 
  text-align-last: center;
  white-space: pre-wrap;
  font-size: 14pt;
  margin-bottom: 40px;
}

.section-separator {
  height: 1px;
  width: 80%;
  border-top: 1px solid #a1a1a1;
  opacity: 0.6;
  margin: 0 auto;
}
/*- - - - - - - - - - -*/
/*- - popular tracks section - -*/
.popular-tracks {
  margin: 30px auto;
  width: 80%;
}

.popular-tracks > h2 {
  font-size: 18pt; 
}

.spotify-container {
  position: relative;
  /*overflow: hidden;*/
  margin: 20px auto;
}

.spotify-container iframe {
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popular-tracks > h3 {
  margin-top: 20px;
}

.popular-tracks > img {
  margin-top: 20px; 
}

#logos {
  height: auto;
  width: 30%;
  margin-top: 10px;
}
/*- - - - - - - - - - - - - -*/
/*- - discography section - -*/
.discography {
  margin: 30px auto;
  width: 80%;
}

.discography h2 {
  font-size: 18pt; 
  font-weight: 700;
}

.discography img {
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
  height: auto;
  width: 600px;
}

.discography img:hover {
  margin-top: 20px;
  opacity: 0.9;
  transform: scale(1.02); 
}

.album-title:hover {
  opacity: 0.7;
  cursor:pointer;
}

.blurred {
  transition: 0.5s -webkit-filter linear;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
}

.follow {
  /*border: 1px solid red;*/
  margin: 10px auto;
  /*width: 300px;*/
  height: auto;
  /*padding-left: 30px;*/
}

.fuck {
  font-size: 70pt;
  color: red;
}

</style>
