<template>
<div id="header">
  <header>
    <div class="header-left">
    </div>
    <div class="header-mid">
      <img @click="goToHomePage" class="snareLogo" src="../assets/snareLogo2.png" alt="Logo">
    </div>
    <div class="header-right" @click="searchPage"> 
      <icon class="search" name="search"></icon>
    </div>
  </header>
  <search-modal v-if="showModal" @close="searchPage"></search-modal>
</div> 
</template>

<script>
export default {
  name: 'header',

  props: ['showModal'],
 
  data()  {
    return {
      // showModal: false
    }
  },

  methods: {
    goToHomePage() {
      this.$router.push('/')
    },
    searchPage() {
      this.showModal ? this.showModal = false : this.showModal = true 
    }
  }
  
}  
</script>

<style scoped>

header {  
  height: 80px;
  width: 100%;
  display: inline-block;
}

.header-left {
  height: inherit;
  width: 33%;
  float: left;
}

.header-mid {
  height: inherit;
  width: 33%;
  float: left;
}

.header-right {
  height: inherit;
  width: 33%;
  float: right;
}

.snareLogo {
  height: auto;
  width: 75px;
  margin: 0 auto;
  display: block;
  /*display: inline-block;*/
  /*position: fixed;*/
  /*top: 50%;*/
  /*left: 50%;*/
} 

.search {
  /*display: inline;*/
  /*float: right;*/
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  margin-top: 34px;
  /*right: 100%;*/
  /*margin: 30px 0px 0px 30px;*/
  opacity: 0.7;
}

</style>