<template>
<!-- START #home -->
<div id="home" v-on:keyup.esc="searchPage" > 
  <!-- START .homeWrapper -->
  <div class="homeWrapper" @click="searchPage" :class="{ blurred: showModal }"> 
    <h2 class="welcome-Header">Welcome to Snare</h2>
    <p class="wiki">The Wikipedia of Music</p>
    <p>for lazy people</p>
    <p class="clickany">Click anywhere to start searching</p>
    <p>for your favorite artist or album</p>
  </div>  <!-- END .homeWrapper -->
  <search-modal v-if="showModal" @close="searchPage"></search-modal>
</div>  
<!-- END #home -->
</template>

<script>
export default {
  name: 'home',

  data() {
    return {
      showModal: false
    }
  },

  methods: {
    searchPage() {
      this.showModal ? this.showModal = false : this.showModal = true 
    }
  } 

}
</script>

<style scoped>
.homeWrapper {
  width: 100%;
  height: 765px;
  margin: 0 auto;
}

.welcome-Header {
  margin: 60px;
  font-size: 32pt;
  font-weight: 700;
  letter-spacing: 1px;
}

/*- - - - - - - - - */
/*- - - !!! FIX !!! - - -*/
/*- things are messy in here.-*/

p {
  font-size: 16pt;
  letter-spacing: 0.5px;
}

.wiki {
  font-size: 18pt;
  font-weight: 700;
  margin: 50px 0px 0px 0px;
}

.clickany{
  margin-top: 120px;
}

.blurred {
  transition: 0.2s -webkit-filter ease-in;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
}

/*p:first-of-type {
  font-size: 18pt;
  font-weight: 700;
  margin: 50px 0px 140px 0px;
}*/
</style>
